<html>
<meta charset="utf-8">
<head>
    <title>profile</title>
</head>
<body>
    <h1>profile</h1>
    <h1>actor ID: {{ id }}</h1>
    <h1>actor name: {{ name }}</h1>
    <h1>List of Customer:</h1>

<table>
    <thead>
        <tr>
            <th>Customer id</th>
            <th>Customer name</th>
            <th>action</th>
        </tr>
    </thead>

    <tbody>

        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user }}</td>
                <td><button>select</button></td>
                <!-- 
                {% if user.role == 'admin' %}
                    <td>Administrator</td>
                {% else %}
                    <td>User</td>
                {% endif %}
                -->
            </tr>
        {% endfor %}

    <tbody>
    </table>


</body>
</html>